h1{color:black;text-align:center;font-size:60px}
main{text-align:center}
h2{color:#90D5ff; text-align:center;font-size:45px }
footer{text-align:center;font-size:33px}
.vision{
    width:15%;
    margin:auto;
}
#principal1{
    display:flex;
    justify-content: space-between;
}
#izquierda{
    display:flex;
    justify-content: flex-start;
}
#derecha{
    display:flex;
    justify-content: flex-end;
}
