h1{
    text-transform: Uppercase;
    font-size:3rem;
    text-align:center;
}
.instrument{
    background-color:#ffe0ff;
    font-family: sans-serif;
    text-align:center;
    width:500px;
    margin:auto
}
.active{
    background-color:#89004f;
}
