/* h1{
    font-size:5rem;
   color:#90D5ff;
   text-align:center;
}
button{
    background-color:#87ffcb;
    height:200px;
    width:300px;
    border:3px #87ffcb;
    cursor:pointer;
    text-transform: uppercase;
    align-items:center;
}
body{
    align-items:center;
    background-color:#42fae0;

}
min-height:100svh;
    background-color:blue
    font-family:"Sekuya"; system-ui;
    color:Black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
} */
